<div style = "text-align: right; margin-right: 5px;" >
<% if !current_user.present? %>
<p><%= link_to 'User SignUp', new_user_registration_path %></p>
<p><%= link_to 'Admin SignUp', new_super_admin_registration_path %></p>
<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
<% end %>
</div>

<h1>Home Page</h1>
